/*Index-V1*/
body{
    margin: 0;
    background-color: black;
}
.topbar{
    height: 30px;
    display: flex;
    justify-content: space-between; /*Centraliza Horiontalmente*/
    flex-direction: row; /*Alinha os filhos na horizontal*/
    padding: 15px;
} 
#buscar{
    width: 500px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
}

.layout{
    display: flex;
    height: calc(100vh - 60px); /* Ocupa toda a altura da tela menos a altura da barra superior */
}
.workspace{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    justify-content: flex-start; /* Centraliza Horiontalmente*/
    align-items: center; /* Centraliza Verticalmente*/
    overflow-y: auto; /* Adiciona barra de rolagem vertical  se extrapolar o tamanho*/
    border: 2px solid blue;

}
#novoRegistro{
    width: 800px;
    padding: 10px;
    border-radius: 10px;
}
.sidebar{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 2px solid red;
}
.bt-nmateria{
    padding: 7px;
    border-radius: 10px;

    margin: 0;
}
.page {
    width: 850px;
    height: 1100px;
    
    
    background-color: #1C1C1C;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;

}
.card{
    color: white;
    padding: 20px 0;
    border-bottom: 1px solid #444;

}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details{
    width: 280px;
    border: 2px solid orange;
    background-color: #1C1C1C;
    padding: 20px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}